{% load staticfiles %}
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'HackIn/css/index.css' %}" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
   function gotocontestpage(url){
   window.open(url, "_self");
   }
  </script>
 </head>
 <body>
  <h1>HacK IN</h1>
  <button id="contestbutton" type="button" onclick='gotocontestpage("/buzz/portal/HackIn/ques1")'>Enter The Contest</button>
</html>
